<%= form_for [:admin, @slide], :html => { :multipart => true } do |f| %>

  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> Erros impediram de salvar o Slide:</h2>

      <ul>
        <% @slide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description, "Descrição" %><br />
    <%= f.text_field :description, :size => 80 %>
  </div>

  <div class="field">
    <%= f.label :foto %><br />
    <%= f.file_field :foto %>
  </div>

  <div class="field">
    <%= f.label :Ranking %><br />
    <%= f.text_field :ranking %>
  </div>

  <div class="field">
    <%= f.label :active, "Ativo?" %><br />
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>