<p id="notice"><%= notice %></p>

<h3>Slides</h3>

<table class="listagem" style="width:60%">
  <tr>
    <th>Imagem</th>
    <th width="60%">Título</th>
    <th width="15%">Ranking</th>
    <th width="15%">Status</th>
    <th colspan="2">Ações</th>
  </tr>

<% @slides.each do |slide| %>
  <tr class=<%= cycle("par", "impar") %>>
    <td><%= image_tag asset_path(slide.foto.url(:thumb)) %> </td>
    <td style="text-align: left"  ><%= slide.description %></td>
    <td style="text-align: center"><%= slide.ranking %></td>
    <td style="text-align: center"><%= slide.active? ? "Ativo" : "Inativo" %></td>
    <td style="text-align: center"><%= link_to 'Alterar', edit_admin_slide_path(slide) %></td>
    <td style="text-align: center"><%= link_to 'Excluir', admin_slide_path(slide), :confirm => 'Tem Certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Slide', new_admin_slide_path %>