<div id="carousel" class="owl-carousel olw-theme">
  <div><%= image_tag("slides/casal.jpg", size: "790x300") %></div>
  <div><%= image_tag("slides/turma.jpg") %></div>
  <div><%= image_tag("slides/maisfm.jpg") %></div>
  <div><%= image_tag("slides/premio.jpg") %></div>
  <div><%= image_tag("slides/sede.jpg") %></div>
</div>