<div class="carrossel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
      <ol class="carousel-indicators">
        <% @slides = Slide.all.each_with_index do |slide, index| %>
          <li data-target="#myCarousel" data-slide-to="<%=index %>"<%= index == 0 ? raw("class='active'") : "" %> ></li>
        <% end %>
      </ol>

    <div class="carousel-inner" role="listbox">

      <% @slides = Slide.all.each_with_index do |slide, index| %>
        <%= index == 0 ? raw("<div class='item active'>") : raw("<div class='item'>") %>
          <%= image_tag(slide.foto.url) %>
          <div class="container">
            <div class="carousel-caption">
            <p style="background-color: #fff; color: blue"><%= slide.description %></p>
            </div>
          </div>
        </div>
      <% end %>

    </div>
    
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>

    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</div>