<div id="carousel" class="owl-carousel olw-theme">
  <div class="item active"><%= image_tag("slides/casal.jpg") %></div>
  <div class="item"><%= image_tag("slides/turma.jpg") %></div>
  <div class="item"><%= image_tag("slides/maisfm.jpg") %></div>
  <div class="item"><%= image_tag("slides/premio.jpg") %></div>
  <div class="item"><%= image_tag("slides/sede.jpg") %></div>
</div>