<div class="row">
  <div class="carrossel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "slides/casal_vinte.png" %>
          <div class="container">
            <div class="carousel-caption">
              <p>Irmãos do GECX em visita a Casa do Caminho, na Bahia</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'slides/visita_versus.jpg' %>
          <div class="container">
            <div class="carousel-caption">
              <p>Visita de um grupo de universitários do VER-SUS, projeto do Ministério da Saúde</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'slides/campanha_roupeiro.jpg' %>
          <div class="container">
            <div class="carousel-caption">
              <p>Brinde para sorteio. Arrecadação de Fundos para o GECX.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'slides/visita_radio.jpg' %>
          <div class="container">
            <div class="carousel-caption">
              <p>Visita a Rádio MaisFM para divulgação de campanha.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'slides/imagem_kickante.jpg' %>
          <div class="container">
            <div class="carousel-caption">
              <p>Sede do GECX (Praça da casa de Saúde).</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
  </div>
</div>
  <div class="row">
    <div style="text-align: justify">
      "O Espiritismo é chamado a desempenhar imenso papel na Terra.
      Ele  reformará  a  legislação  ainda  tão  freqüentemente  contrária  às  leis
      divinas;  retificará  os  erros  da  História;  restaurará  a  religião  do  Cristo,
      que  se  tornou,  nas  mãos  dos  padres,  objeto  de  comércio  e  de  tráfico  vil;
      instituirá a verdadeira religião, a religião natural, a que parte do coração
      e vai diretamente a Deus, sem se deter nas franjas de uma sotaina, ou nos
      degraus do altar. Extinguirá para sempre o ateísmo e o materialismo, aos
      quais  alguns  homens  foram  levados  pelos  incessantes  abusos  dos  que  se
      dizem ministros de Deus, (...)". <br/>
      Obras Póstumas, Allan Kardec, O Futuro do Espiritismo, Um Espírito.
    </div>
  </div>

<div class="row" style="padding-top: 15px;">
  <div class="col-sm-5">
    <div class="fb-page" data-href="https://www.facebook.com/gecx.iguatu" data-width="450" data-height="590" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/gecx.iguatu"><a href="https://www.facebook.com/gecx.iguatu">Grupo Espírita Chico Xavier</a></blockquote></div></div>
  </div>
  <div class="col-sm-7">
    <p style="font-size: 14pt; font-weight: bold;">Nossa Programação</p>
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      Terça-Feira: <br/>
      <p style="text-indent: 10pt;">19:00 a 20:00h: Atendimento Fraterno (livre)</p>
      <p style="text-indent: 10pt;">20:00 a 21:00h: Estudo do Livro dos Espíritos (livre)</p>

      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      Quinta-Feira:
      <p style="text-indent: 10pt;">20:00 a 21:00h: Reunião Mediúnica (restrita)</p>

      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      Sexta-Feira:
      <p style="text-indent: 10pt;">19:00 a 20:00h: Atendimento Fraterno (livre)</p>
      <p style="text-indent: 10pt;">20:00 a 21:00h: Estudo do Evangelho e Terapia de Passes (livre)</p>
    </div>
    <p style="font-size: 14pt; font-weight: bold; padding-top:10px;">Localização:</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.264281495372!2d-39.295566386003436!3d-6.35983016398496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a31e5cbfffffff%3A0xe38d5a20afe7d98a!2sGrupo+Esp%C3%ADrita+Chico+Xavier!5e0!3m2!1spt-BR!2sbr!4v1451784159190"
            width="650"
            height="320"
            frameborder="0"
            style="border:0"
            allowfullscreen>
    </iframe>
  </div>
</div>
