<div class="row">
  <p style="font-size: 22px; padding-top: 10px;">Entrega de Cestas Básicas</p>
  <div id="cestas" class="owl-carousel olw-theme">
    <div class="item"><h4><%= image_tag("cestas/001.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("cestas/002.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("cestas/003.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("cestas/004.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("cestas/005.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("cestas/006.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("cestas/007.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("cestas/008.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("cestas/009.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("cestas/010.jpg") %></h4></div>
  </div>
</div>

<div class="row">
  <p style="font-size: 22px; padding-top: 10px;">Confraternização</p>
  <div id="festas" class="owl-carousel olw-theme">
    <div class="item"><h4><%= image_tag("festas/001.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("festas/002.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("festas/003.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("festas/004.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("festas/005.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("festas/006.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("festas/007.jpg") %></h4></div>
    <div class="item"><h4><%= image_tag("festas/008.jpg") %></h4></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#cestas").owlCarousel({
      autoplay: true,
      loop: true,
      margin: 10,
      autoplayTimeout: 4000,
      autoplayHoverPause: true,
      items: 2,
      autoWidth: true,
      transitionStyle:"fade",
      navigationText : false
    });

    $("#festas").owlCarousel({
      autoplay: true,
      loop: true,
      margin: 10,
      autoplayTimeout: 3000,
      autoplayHoverPause: true,
      items: 2,
      autoWidth: true,
      navigationText : false
    });
  });
</script>
