<div class="row">
  <p style="font-size: 22px; padding-top: 10px;">Entrega de Cestas Básicas 2013</p>
  <div class="row">
    <div class="col-sm-4"><%= image_tag("sb2013/001.jpg") %></div>
    <div class="col-sm-4"><%= image_tag("sb2013/002.jpg") %></div>
    <div class="col-sm-4"><%= image_tag("sb2013/003.jpg") %></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><%= image_tag("sb2013/004.jpg") %></div>
    <div class="col-sm-4"><%= image_tag("sb2013/005.jpg") %></div>
    <div class="col-sm-4"><%= image_tag("sb2013/006.jpg") %></div>
  </div>
  <p style="font-size: 22px; padding-top: 10px;">Entrega de Cestas Básicas 2014</p>
</div>