<div class="row">
  <div style="text-align: center"><h3>Nossos Dirigentes:</h3></div>
  <div class="col-sm-1">  </div>
  <div class="col-sm-2" style="text-align: center" style="text-align:center">
    <%= image_tag("romelia.jpg", class: 'img-circle', width: 100, height: 100) %>
    <h5>Romélia Carvalho</h5>
    <p>Presidente</p>
  </div>

  <div class="col-sm-2" style="text-align: center">
    <%= image_tag("marquinhos.jpg", class: 'img-circle', width: 100, height: 100) %>
    <h5>Marcos Bandeira</h5>
    <p class="label_funcao">Vice-Presidente</p>
  </div>

  <div class="col-sm-2" style="text-align: center">
    <%= image_tag("vaninha.jpeg", class: 'img-circle', width: 100, height: 100) %>
    <h5>Edvania Mendes</h5>
    <p class="label_funcao">Tesoureira</p>
  </div>

  <div class="col-sm-2" style="text-align: center">
    <%= image_tag("mariana.jpeg", class: 'img-circle', width: 100, height: 100) %>
    <h5>Mariana Santos</h5>
    <p class="label_funcao">Secretaria</p>
  </div>

  <div class="col-sm-2" style="text-align: center">
    <%= image_tag("lucia.jpg", class: 'img-circle', width: 100, height: 100) %>
    <h5>Lucia Cleide</h5>
    <p class="label_funcao">Orientadora Doutrinária</p>
  </div>
</div>

<div class="row" style="padding-top: 25px;">
  <h4 style="font-weight: bold">Características e definições do papel doutrinário-administrativo do dirigente espírita:</h4>
  <p style="text-align: justify">
    Todos os trabalhadores das Casas Espíritas precisam estar cientes da sua parcela de contribuição para que
    esta missão seja alcançada. No entanto, os dirigentes dos mais diferentes setores da Casa Espírita têm uma
    responsabilidade adicional, que é a missão de conduzir a Casa no cumprimento do seu papel.
  </p>
  <p style="text-align: justify">
    Os dirigentes das Casas Espíritas, pessoas abnegadas e trabalhadoras, muito realizam para que estes resultados
    possam ser alcançados, entretanto, é necessário avançar cada vez mais.
  </p>
  <p style="text-align: justify">
    A administração da Casa Espírita nos dias atuais continua sendo, acima de tudo, uma atividade de muita dedicação
    e esforço, mas é também uma atividade complexa e variada, que depende quase exclusivamente da colaboração
    voluntária e da parca existência de recursos financeiros para o cumprimento dos objetivos.
  </p>
  <p style="text-align: justify">
    Os dirigentes das Casas Espíritas, portanto, precisam reunir algumas características diferenciais, além dos
    requisitos iniciais: conhecimento e vivência doutrinários. É essencial que o dirigente domine os
    conhecimentos que o trabalho requer, ou seja, princípios sobre liderança, planejamento e organização de
    tarefas, entre outros.
  </p>
  <p style="text-align: justify">
    Temos no Mestre Jesus o maior exemplo de administrador bem sucedido em seus propósitos; em Kardec, a
    exemplificação da disciplina e organização para a realização de sua missão; em Bezerra, a ducilidade aliada
    ao senso de dever em todos os momentos do trabalho. Podemos, assim, afirmar que os grandes modelos de
    administradores já nos foram apresentados, com riqueza de detalhes, levando-­nos a analisar suas decisões
    e planos de trabalho, incluindo a escolha dos colaboradores, a definição das estratégias e o acompanhamento
    constante dos resultados alcançados junto àqueles que deveriam ser beneficiados pelos trabalhos desenvolvidos.
  </p>
  <p style="text-align: justify">
    Fazer a ponte entre os conhecimentos da ciência administrativa humana e a inequívoca contribuição dos grandes
    emissários divinos é tarefa que pode fundamentar com maior segurança a atuação do dirigente espírita.
  </p>
</div>
