<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author"      content="Luciano Bezerra">
    <title>Admin</title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'admin' %>
    <%= csrf_meta_tag %>
  </head>
  <body class="">
    <div id="top_container">
      <div id="menu">
        <ul>
          <li><%= link_to "Slides", admin_slides_path %></li>|
          <li><%#= link_to "Equipe", admin_agents_path %></li>|
          <li><%#= link_to "Produtos", admin_linhas_url %></li>|
          <li><%#= link_to "Assistências", admin_assistencias_path %></li>|
          <li><%#= link_to "Usuários", signup_path %></li>|
          <li><%#= link_to "Currículos", admin_curriculos_path %></li>|
          <li><span class="user_logged"><%#= logged_in? ? "Bem Vindo, #{current_user.name}!" : "" %></span></li>|
          <li><%#= link_to "Sair", logout_path %></li>
        </ul>
      </div>
      <div id="user_div">
      </div>
    </div>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>